@font-face {
    src: url('../fonts/Montserrat-Regular.ttf');
    font-family: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

/** Cabeçalho do site **/

header {
    padding: 20px 2%;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 200px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    color: #2d2d2d;
}

/** Mosaico **/

.mosaico-wrapper {
    width: 100%;
    display: flex;
}

.mosaico-single {
    width: calc(100% / 6);
}

.img-mosaico-single {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
}

.mosaico-single:nth-of-type(1) .img-mosaico-single:first-child {
    background-image: url('../images/1.jpg');
}

.mosaico-single:nth-of-type(1) .img-mosaico-single:last-child {
    background-image: url('../images/2.jpg');
}

.mosaico-single:nth-of-type(2) .img-mosaico-single:first-child {
    background-image: url('../images/3.jpg');
}

.mosaico-single:nth-of-type(2) .img-mosaico-single:last-child {
    background-image: url('../images/4.jpg');
}

.mosaico-single:nth-of-type(3) .img-mosaico-single:first-child {
    background-image: url('../images/5.jpg');
}

.mosaico-single:nth-of-type(3) .img-mosaico-single:last-child {
    background-image: url('../images/6.jpg');
}

.mosaico-single:nth-of-type(4) .img-mosaico-single:first-child {
    background-image: url('../images/7.jpg');
}

.mosaico-single:nth-of-type(4) .img-mosaico-single:last-child {
    background-image: url('../images/8.jpg');
}

.mosaico-single:nth-of-type(5) .img-mosaico-single:first-child {
    background-image: url('../images/9.jpg');
}

.mosaico-single:nth-of-type(5) .img-mosaico-single:last-child {
    background-image: url('../images/10.jpg');
}

.mosaico-single:nth-of-type(6) .img-mosaico-single:first-child {
    background-image: url('../images/11.jpg');
}

.mosaico-single:nth-of-type(6) .img-mosaico-single:last-child {
    background-image: url('../images/12.jpg');
}

/** Serviços **/

section.servicos > .container {
    max-width: 800px;
    align-items: center;
    position: relative;
    top: -30px;
    text-align: center;
}

section.servicos .container .box-servico {
    background-image: url('../images/icone_dente.png');
    background-size: 18px 18px;
    background-position: center calc(100% - 20px);
    background-repeat: no-repeat;
}

section.servicos .container .box-servico:nth-of-type(1) {
    width: 30%;
    padding: 30px 1% 50px;
    background-color: #2897c3;
}

section.servicos .container .box-servico:nth-of-type(2) {
    width: 40%;
    padding: 45px 2%;
    background-color: #43afda;
    background-image: none;
}

section.servicos .container .box-servico:nth-of-type(3) {
    width: 30%;
    padding: 30px 1% 50px;
    background-color: #2897c3;
}

section.servicos .container .box-servico h2 {
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}

section.servicos .container .box-servico p {
    color: white;
    font-weight: normal;
    font-size: 12px;
    margin-top: 8px;
}

section.perfil-container {
    padding: 40px 0;
}

section.perfil-container .container {
    max-width: 800px;
    display: block;
}

section.perfil-container .perfil-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.perfil-container .img-perfil {
    width: 40%;
    padding-top: 50%;
    background-image: url('../images/img_perfil.jpg');
    background-size: 100% 100%;
}

section.perfil-container .texto-perfil {
    width: 60%;
    padding: 0 30px;
}

section.perfil-container .texto-perfil h2 {
    color: #2d2d2d;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

section.perfil-container .texto-perfil p {
    color: #696969;
    font-size: 14px;
    margin-top: 10px;
}

section.videos {
    padding: 50px 0;
}

section.videos .box-video {
    width: 33.3%;
    background-color: #eff2f4;
    padding-top: calc(33.3% * 0.6);
}

@media screen and (max-width: 768px) {
    header nav {
        width: 28px;
        height: 28px;
        cursor: pointer;
        background-image: url('../images/menu-mobile.png');
        background-size: 100% 100%;
    }

    header nav ul {
        display: none;
        background-color: white;
        position: absolute;
        top: 70px;
        left: 0;
        flex-direction: column;
        text-align: center;
        width: 100%;
        z-index: 2;
    }

    header nav ul li {
        padding: 10px 0;
    }

    section.servicos > .container {
        flex-direction: column;
    }

    section.servicos > .container .box-servico:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2% 50px;
    }

    section.servicos > .container .box-servico:nth-of-type(2) {
        width: 90%;
        max-width: 380px;
        padding: 40px 2%;
    }

    section.servicos > .container .box-servico:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2% 50px;
    }

    section.perfil-container .perfil-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    section.perfil-container .img-perfil {
        width: 45%;
        padding-top: 55%;
    }

    section.perfil-container .texto-perfil {
        width: 100%;
        text-align: justify;
    }

    section.perfil-container .texto-perfil h2 {
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 580px) {
    section.perfil-container .img-perfil {
        width: 60%;
        padding-top: 70%;
    }
}

@media screen and (max-width: 480px) {
    header .logo img {
        width: 170px;
    }
    
    section.perfil-container .img-perfil {
        width: 80%;
        padding-top: 90%;
    }
}